vc.tex
README
ngelesson.ins
ngelesson.log
ngelessonhandout.cls
ngelessonplan.cls
ngelessonslides.cls
ngelessonworksheet.cls
ngelesson.pdf
*.aux
*.glo
*.hd
*.idx
*.out
build
testfiles/*.pdf
testfiles/*.log
testfiles/*.synctex.gz
testfiles/*.fls
testfiles/*.ttl
testfiles/*.fdb_latexmk
testfiles/*.dep
.DS_Store
